<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

 <!--robot_state_publisher, publishing state of robot to tf-->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- SLAM: Gmapping -->
  <include file="$(find ros_sim)/launch/slam/turtlebot3_gmapping.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find ros_sim)/rviz/turtlebot3_slam.rviz"/>
  </group>

  <!--move_base-->
  <include file="$(find ros_sim)/launch/navigation/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  
</launch>
